@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

h1 {
  @apply text-[20px] font-semibold mt-[15px] text-black;
}

input{
  @apply appearance-none w-[60vw] border-[3px] border-yellow-200 mt-[15px] rounded-[10] py-5 px-3 text-gray-700 mb-3 leading-tight focus:border-yellow-400 focus:outline-none;
}